//import jeet's index:
@import "index";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.page {
  lost-center: 960px;
  padding: 0 2%;
  background-color: white;

  > article {
    margin-bottom: 3em;
  }
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.lost-1 {
  .row {
    lost-utility: clearfix;

    > nav,
    > div,
    > section {
      lost-column: 1/3;
    }
  }
}

.lost-2 {
  .row {
    lost-utility: clearfix;

    > nav,
    > div,
    > section {
      lost-column: 1.0/3.0;
    }
  }
}

.jeet {
  .row {
    @include cf;

    > nav,
    > div,
    > section {
      @include col(1 / 3);
    }
  }
}
